<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_48"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_48"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileAndroidJavaSocialMedia"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SharePostActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminBanAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.GroupActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PoliciesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PolicyDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MyPersonalPageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.YourPersonalPageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.VerifyNewAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.VerifyOldAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FindAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgetAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>